<h2>Escolas</h2>

<div>
  <div>
    <label>Nome:
      <input #schoolName />
    </label>
  </div>
  <div>
    <label>Endereço:
      <input #schoolAddress />
    </label>
  </div>
  
  <button (click)="add(schoolName.value, schoolAddress.value); schoolName.value= ''; schoolAddress.value=''">
    Inserir
  </button>
</div>

<ul class="heroes">
  <li *ngFor="let school of schools">
    <a routerLink="/school/{{school.id}}">
      <span class="badge">{{school.id}}</span> {{school.name}}
    </a>
    <button class="delete" title="delete school"
      (click)="delete(school)">x</button>
  </li>
</ul>